/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page {
    width: 900px;
    margin: auto;
}

.entete {
    height: 100px;
}

.colonne_menu {
    float: left;
    width: 200px;
    height: 100%;
}

.colonne_contenu {
    margin-left: 200px;
}

.pieddepage {
    height: 50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body {
    /* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    /* CSS : En utilisant le sélecteur body,
modifiez la couleur d’arrière-plan de la page ainsi que les paramètres
de police utilisés par défaut pour l’ensemble de la page HTML. */

    /*     Modifiez la couleur d’arrière-plan :
    Propriété : background-color,
    Exemples de valeur : yellow, red, etc,*/
    background-color: yellow;
    /*Modifiez la taille de police :
    Propriété : font-size,
    Exemples de valeur : 0.8rem, 12px, etc,
    Modifiez la police de caractère :
    Propriété : font-family,
    Exemples de valeur : arial, verdana, etc, */
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


    /*     CSS : Toujours avec le même sélecteur, réglez les
    marges externes et internes du document à 0 afin que le contenu soit
    collé au bord supérieur de la fenêtre.
    Modifiez les marges  :
    Propriété : margin,
    Modifiez les marges  :
    Propriété : padding, */

    padding: 0px;
    margin: 0px;
}

/*     CSS : Supprimez la couleur d’arrière-plan appliquée à l’élément qui utilise la classe page */
.page {}

.entete {
    /*     CSS : En utilisant le sélecteur .entete :
              Ajoutez une marge intérieur de 10px ;
              Modifiez la couleur d’arrière-plan de la zone d’en-tête. */
    padding: 10px;
    background-color: aqua;
}

/* CSS : Grâce aux classes que vous venez d’ajouter, personnalisez les deux éléments identifiés précédemment :
     Modifiez la taille des caractères ;
     Modifiez la couleur du texte :
Propriété : color,
Exemples de valeur : yellow, purple, gold ; */

.title {
    color: coral;
    font-size: 4rem;
}

.slogan {
    color: indigo;
    font-size: 1rem;
    /* CSS : Modifiez le slogan du site afin qu’il soit en italique :
    Modifier le style des caractère pour les passer en italique :
    Propriété : font-style, */
    font-style: italic;
}

.colonnes {
    background-color: deepskyblue;
}

.colonne_menu {
    background-color: gold;
}

.colonne_contenu {
    background-color: lightgreen;
}

.pieddepage {
    /* . Mise en forme du pied de page

    CSS : En utilisant le sélecteur .pieddepage, personnalisez le pied de page :
        Modifiez la couleur d’arrière-plan ;
        Modifiez la couleur du texte ;
        Centrez le texte :
    Propriété : text-align, */
    background-color:brown;
    color: gold;
    text-align: center;
}