/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page {
    width: 900px;
    margin: auto;
}

.entete {
    height: 100px;
}

.colonne_menu {
    float: left;
    width: 200px;
    height: 100%;
}

.colonne_contenu {
    margin-left: 200px;
}

.pieddepage {
    height: 50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body {
    /* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    /* CSS : En utilisant le sélecteur body,
modifiez la couleur d’arrière-plan de la page ainsi que les paramètres
de police utilisés par défaut pour l’ensemble de la page HTML. */

    /*     Modifiez la couleur d’arrière-plan :
    Propriété : background-color,
    Exemples de valeur : yellow, red, etc,*/
    background-color: yellow;
    /*Modifiez la taille de police :
    Propriété : font-size,
    Exemples de valeur : 0.8rem, 12px, etc,
    Modifiez la police de caractère :
    Propriété : font-family,
    Exemples de valeur : arial, verdana, etc, */
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


    /*     CSS : Toujours avec le même sélecteur, réglez les
    marges externes et internes du document à 0 afin que le contenu soit
    collé au bord supérieur de la fenêtre.
    Modifiez les marges  :
    Propriété : margin,
    Modifiez les marges  :
    Propriété : padding, */

    padding: 0px;
    margin: 0px;
}

/*     CSS : Supprimez la couleur d’arrière-plan appliquée à l’élément qui utilise la classe page */
.page {}

.entete {
    /*     CSS : En utilisant le sélecteur .entete :
              Ajoutez une marge intérieur de 10px ;
              Modifiez la couleur d’arrière-plan de la zone d’en-tête. */
    padding: 10px;
    background-color: aqua;
}

/* CSS : Grâce aux classes que vous venez d’ajouter, personnalisez les deux éléments identifiés précédemment :
     Modifiez la taille des caractères ;
     Modifiez la couleur du texte :
Propriété : color,
Exemples de valeur : yellow, purple, gold ; */

.title {
    color: coral;
    font-size: 4rem;
}

.slogan {
    color: indigo;
    font-size: 1rem;
    /* CSS : Modifiez le slogan du site afin qu’il soit en italique :
    Modifier le style des caractère pour les passer en italique :
    Propriété : font-style, */
    font-style: italic;
}

.colonnes {
    background-color: deepskyblue;
}

.colonne_menu {
    background-color: gold;
}


/*      CSS : Afin de donner l’impression que la zone menu fait toute la hauteur de la page, 
        modifiez la couleur d’arrière-plan de .colonnes 
        et de .colonne_menu pour qu’ils aient la même.Vous pouvez utiliser le sélecteur .colonnes, .colonne_menu. */

.colonnes,
.colonne_menu {
    background-color: deepskyblue;

}

.colonne_contenu {
    /*     CSS : En utilisant le sélecteur .colonne_contenu :
        Modifiez la couleur d’arrière-plan de la zone ;
        Ajoutez une marge d’au moins 10px à la zone. */
    background-color: rgb(123, 47, 115);
    padding: 10px;
}

.colonne_menu ul {

    /* CSS : En utilisant le sélecteur .colonne_menu ul (ce qui correspond aux éléments ul
    ayant un parent avec la classe .colonne_menu), supprimez les marges internes ET externes de la liste à puces. */
    margin: 0px;
    padding: 0px;
}

.colonne_menu li {
    /*     CSS : En utilisant le sélecteur .colonne_menu li (ce qui correspond aux éléments li ayant un parent avec 
    la classe .colonne_menu) :        Supprimez les puces de la liste :    Propriété : list-style-type,
    https://developer.mozilla.org/fr/docs/Web/CSS/list-style-type. */

    list-style-type: none;

    /* CSS : En utilisant le sélecteur .colonne_menu li, continuez à personnalisez les lignes de la liste :
       Ajoutez une couleur d’arrière-plan ;
       Ajoutez une marge intérieure ET une marge extérieure de 5px ;
       Centrez le texte.
       */

    background-color: darkgreen;
    margin: 5px;
    /* padding: 5px; */
    text-align: center;

}

/*  En utilisant le sélecteur adapté, ajoutez un
       effet de survol aux lignes de la liste en définissant une couleur
       d’arrière-plan différente lors du survol */
.colonne_menu li:hover {
    background-color: chartreuse;
}

.colonne_menu a {
    /*     CSS : En utilisant le sélecteur adapté,
        personnalisez les liens du menu. Les autres liens (dans le contenu) ne
        doivent pas être impactés :
        Supprimez le soulignement ;
        Modifiez la couleur. */
    text-decoration: none;
    color: darkorange;
    /*  Remarque: Vous aurez peut-être remarqué un petit détail…
        Les liens du menu ne fonctionnent que lorsque l’on survole le texte du
        lien mais pas lorsque l’on survole le rectangle correspondant à la ligne
        de la liste. Ce comportement est tout à fait normal, mais ce n’est pas
        très ergonomique. */
    display: block;
    /*  Pour corriger le problème ajoutez la propriété display: block;
        pour les liens du menu, ajoutez une marge interne de 5px aux liens et
        supprimez la marge interne que nous avons mis précédemment sur les
        lignes de la liste avec .colonne_menu li. */
    padding: 5px;
}

.pieddepage {
    /* . Mise en forme du pied de page

    CSS : En utilisant le sélecteur .pieddepage, personnalisez le pied de page :
        Modifiez la couleur d’arrière-plan ;
        Modifiez la couleur du texte ;
        Centrez le texte :
    Propriété : text-align, */
    background-color: brown;
    color: gold;
    text-align: center;
    /* CSS : Toujours sur le sélecteur .pieddepage, ajoutez la propriété CSS permettant de définir la hauteur de ligne : 
    line-height. Réglez-la pour que sa valeur soit identique à la hauteur de la zone de pied de page. */
    line-height: 100%;
}

h1 {
    /*     CSS : En utilisant le sélecteur h1, personnalisez les titres de niveau 1 :
        Modifiez la couleur d’arrière-plan des titres de niveau 1.
        Ajoutez une marge de 10px ;
        Ajoutez une marge de 20px : margin-bottom ;
        Ajoutez en dessous uniquement, une bordure épaisse de 5px, 
        en trait continu avec la couleur de votre choix : border-bottom: 5px solid purple ; */

    background-color: grey;
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid royalblue;
}

h2 {
    /* CSS : En utilisant le sélecteur adapté, personnalisez les titres de niveau 2 :
    Modifiez la couleur du texte ;
    Modifiez la taille des caractères ;
    Ajoutez une marge extérieure de 20 pixels tout autour ;
    Basculez le texte en petites capitales :
    Propriété : font-variant, */
    color: chartreuse;
    font-size: 1.2rem;
    margin: 20px;
    font-variant: small-caps;
}

strong {
    /* CSS : En utilisant le sélecteur strong, personnalisez l’aspect du texte sur lequel est appliquée une emphase forte :
    Modifiez la couleur du texte ;
    Supprimez le gras :
    Propriété : font-weight, */
    color: red;
    font-weight: initial;
}

em {
    color: green;
}

.introduction {
    /*     CSS : En utilisant le bon sélecteur, modifiez le paragraphe introduction :
        Mettez le texte en italique ;
        Ajoutez une bordure tout autour du paragraphe ;
        Ajoutez une marge de 10px ;
        Ajoutez la propriété permettant d’arrondir les bords en la réglant à 10px :
        Propriété : border-radius */
    font-style: italic;
    border-style: solid;
    margin: 10px;
    border-radius: 10px;

}

a {
    /* CSS : Deux liens sont présents dans la page. Avec le sélecteur adapté, ajoutez du gras sur les liens par défaut. */
    font-weight: bold;
}

a:hover {

    /* CSS : En utilisant la pseudo-classe :hover :
    Changez la couleur du texte lors du survol des liens ;
    Supprimez le soulignement lors du survol des liens :
    Propriété : text-decoration, */
    color: darkblue;
    text-decoration: none;
}